* {
    font-family: "JetBrainsMono NF";
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
}

@define-color black #0a0a0f;
@define-color highlight #21202e;
@define-color spacer #1f1d2e;
@define-color text #e0def4;
@define-color red #eb6f92;
@define-color rose #ebbcba;
@define-color yellow #f6c177;
@define-color green #31748f;
@define-color blue #9ccfd8;
@define-color iris #c4a7e7;

#waybar {
  background-color: transparent;
}

/* Custom Nix */
#custom-nix {
  padding-left: 10px;
  padding-right: 6px;
  background-color: @black;
  color: #7ebae4;
  font-size: 20px; 
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 10px;
}
#custom-nix:hover {
  color: #5277c3;
}

/* Workspace Buttons */
#workspaces button {
    padding: 0 5px;
    background-color: @black;
    color: @text;
    font-size: 20px;
    border: 1px solid @spacer;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @highlight;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background-color: @highlight;
}

/* Center */
#clock {
    padding: 0 10px;
    color: @text;
    border: 1px solid @spacer;
    border-radius: 5px;
    background-color: @black;
}

/* Right Side */
#privacy {
    margin-right: 10px;
    padding: 0 10px;
    background-color: @iris;
    color: @black;
    border-radius: 12px;
}

#custom-vpn {
    margin-right: 10px;
    padding: 0 10px;
    background-color: @yellow;
    color: @black;
    border-radius: 12px;
}
#custom-vpn.warning {
  background-color: @red;
}

#memory,
#cpu,
#disk,
#network,
#pulseaudio,
#backlight {
    padding: 0 10px;
    color: @text;
    border-radius: 5px;
    background-color: @black;
    border: 1px solid @spacer;
}
#battery {
    padding: 0 10px;
    color: @text;
    border-radius: 5px;
    background-color: @black;
    border: 1px solid @spacer;
    margin-right: 2px;
}

/* Status updates */
#network.disabled {
  color: @red;
}
#network.disconnected {
  color: @red;
}

#pulseaudio.muted {
  color: @red;
}
#pulseaudio.source-muted {
  color: @red;
}
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
    color: @yellow;
}
@keyframes blink {
    to {
        background-color: @red;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: @black;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
