/* Global styling */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  border-radius: 0px;
}

/* Define all colors */
@define-color bg #050707;
@define-color fg #cd974b;
@define-color white #cecece;
@define-color yellow #c9b890;

/* Define Waybar window */
window#waybar {
  background-color: @bg;
  color: @fg;
}

/* Define Workspaces */
#workspaces button {
    padding: 0 6px;
    color: @white;
    background: transparent;
}
#workspaces button.focused {
    background: @yellow;
    color: @bg;
}

/* Remove dynamic workspace */
#workspaces button#niri-workspace-10,
#workspaces button#niri-workspace-10 label {
  background: None;
  border: None;
  font-size: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

#window {
  background: @yellow;
}
#window.layout{
  padding: 0 6px;
  background: @bg;
  color: @white;
}
#window.title{
  padding: 0 6px;
  background: @yellow;
  color: @bg;
}

#clock {
  color: @yellow;
}

#custom-vpn,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery,
#backlight,
#custom-sep,
#custom-sep-large {
  color: @white;
}
