window {
    font-family: JetBrainsMono NF;
    font-size: 20pt;
    color: #e0def4; /* text */
    background-color: rgba(25, 23, 36, 0.6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: #191724;
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 30px;
    border:0px;
}

button:focus {
    background-size: 50%;
    border: 0px;
}

button:hover {
    background-color: #135C7D;
    color: #1e1e2e;
    background-size: 50%;
    margin: 30px;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0 0 30px #80E4E2;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}

#lock {
    background-image: image(url("/home/dstrobel/Downloads/lock.png"));
}
#logout {
    background-image: image(url("/home/dstrobel/Downloads/logout.png"));
}
#suspend {
    background-image: image(url("/home/dstrobel/Downloads/suspend.png"));
}
#shutdown {
    background-image: image(url("/home/dstrobel/Downloads/shutdown.png"));
}
#reboot {
    background-image: image(url("/home/dstrobel/Downloads/reboot.png"));
}
#hibernate {
    background-image: image(url("/home/dstrobel/Downloads/hibernate.png"));
}
